body {
  background: #f3f4f5;
}

.btn {
  border-radius: 10px;
}

.navbar {
  background: rgba(241, 242, 244, 0.8);
  border-bottom: 1px solid #dfe3ef ;
  backdrop-filter: blur(15px);
}

.hero-content {
  background: #f3f4f5;
}

div {
}

@media (min-width: 768px) {
  .hero-content {
    background: transparent;
    height: 500px;
  }
}

@media (min-width: 1200px) {
  .hero-content {
    height: 600px;
  }
}

.card .btn {
  padding-left: 16px;
  margin-left: -16px;
  background: transparent;
  border-style: none;
  border-bottom-style: none;
  border-radius: 20px;
}

.card:hover .card-img {
  transform: scale(1.10);
}

.card {
  overflow: hidden;
  border-radius: 20px;
}

.card .card-img {
  transition: all ease 0.3s;
}

@media (min-width: 768px) {
  .card-content-half {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

.card:hover .btn {
  background: var(--bs-blue);
  color: var(--bs-card-bg);
}

.btn-notWhite {
  color: var(--bs-btn-bg);
}

.pricing-card .btn {
  padding-left: 0px;
}

